  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Contacto</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="">Inicio</a></li>
          <li class="active">Contacto</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content">
    <section class="padding-bottom-70">

      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-left margin-top-70 margin-bottom-30">
          <h4>Contáctanos</h4>
        </div>
        <div class="row">
          <div class="col-md-6"> 
            <!-- CONTACT FORM -->
            <div class="contact-form"> 
              <!-- Success Msg -->
              <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Gracias. Tu mensaje ha sido enviado</div>
              
              <!-- FORM -->
              <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">
                <ul class="row">
                  <li class="col-sm-12">
                    <label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label>
                      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label>
                      <input type="text" class="form-control" name="company" id="company" placeholder="Asunto">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label>
                      <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje"></textarea>
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <button type="submit" value="submit" class="btn btn-1" id="btn_submit" onClick="proceed();"> Enviar <i class="fa fa-caret-right"></i></button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          
          <!-- MAP -->
          <div class="col-md-6">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
<script type="text/javascript">
/*==========  Map  ==========*/
var map;
function initialize_map() {
if ($('#map').length) {
  var myLatLng = new google.maps.LatLng(10.202843, -68.007120);
  var mapOptions = {
    zoom: 17,
    center: myLatLng,
    scrollwheel: false,
    panControl: false,
    zoomControl: true,
    scaleControl: false,
    mapTypeControl: false,
    streetViewControl: false
  };
  map = new google.maps.Map(document.getElementById('map'), mapOptions);
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    tittle: 'Zonatrabajo',
    icon: './assets/images/map-locator.png'
  });
} else {
  return false;
}
}
google.maps.event.addDomListener(window, 'load', initialize_map);
</script>