
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/images/zona-trabajo1.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/assets/images/zona-trabajo2.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="/assets/images/zona-trabajo3.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="Wrapper" data-ng-controller="jobsController" data-ng-init="cargaInicial()">

<!--buscador-->
  <div id=buscador>
              <div>
                <span class="titulo">Buscador de empleos</span>
                <span ng-if="num_offers > 40" class="contador">{{num_offers}}</span>
                <span ng-if="num_offers > 40" class="vacantes">{{title}}</span>
                <a ng-show="ofertas.length > 0" href="#home" du-smooth-scroll class="link-avanzado pull-right">Busqueda avanzada...</a>
              </div>
              <form action="/venezuela/ofertas/empleos_encontrados/" method="">
                <table width="100%">
                  <tbody>
                    <tr>
                      <td valign="top">

                        <angucomplete-alt id="searchOffers"
                                      placeholder="Palabras Claves, cargo, ciudad, estado, país..."
                                      pause="400"
                                      maxlength="20"
                                      selected-object="offerSelected"
                                      remote-url="https://api.zonatrabajo.com/offers/like/"
                                      remote-url-data-field="offers"
                                      title-field="title,company.name,city,state,country"
                                      description-field="description"
                                      minlength="3"
                                      input-class="form-control"/>

                      </td>
                      <td width="230" valign="top" nowrap="nowrap">
                        <select id="buscador_area" 
                              name="buscador_area" 
                             class="form-control" 
                        ng-options="area._id for area in offerAreas"
                        ng-change="areasFilter()"
                        ng-model="select_area">
                        </select>                        
                      </td>
                      <td width="60" valign="top" nowrap="nowrap">
                        <button class="btn-u btn-u-blue btn-buscar pull-right" type="submit" value="Buscar">
                          <i class="fa fa-lg fa-search"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
              <a name="home"></a>
            </div>

  <div id="content"> 
    
    <!-- Job -->
    <section class="home padding-bottom-70">
      <div class="container" ng-show="ofertas.length == 0"> 
        <img src="assets/images/loading.gif" alt="Cargando" class="center-block">
        <p class="text-center text-primary">Cargando...</p>
      </div>
      <div class="container" ng-show="ofertas.length > 0"> 
        
        <!-- Side Bar -->
        <div class="col-xs-12 col-sm-4 col-md-4">
          
          <div class="job-sider-bar">

            <div class="col-xs-10 no-padding">
              <h5 ng-show="offerCustomFilter" class="side-tittle-1">Buscar </h5>
            </div>
            <div class="col-xs-2 no-padding">            
              <button class="visible-xs" data-toggle="collapse" data-target="#jobSiderBar"><i class="fa fa-bars"></i> </button>
            </div>                          

            <div class="collapse-non-md" id="jobSiderBar">

              <label ng-repeat="(key, val) in offerCustomFilter" class="label-filter label-primary">
                  {{val}}
                  <div class="pull-right">
                    <a class="remove" ng-click="removeFilter(key)"><i class="fa fa-times"></i></a>
                  </div>
              </label>

              <label>
                <input type="text" class="form-control" placeholder="Buscar" ng-model="offerFilter">
              </label>
              
              <!-- Filter Results -->
              <h5 class="side-tittle margin-top-30">Filtrar Resultados</h5>
              
              <h6>Paises:</h6>
              <ul class="cate result">
                <li ng-repeat="country in offerCountry"> 
                  <a ng-click="addFilter('country', country._id)"> 
                    {{(country._id == null) ? 'Otras' : country._id}} ({{country.count}})
                  </a>
                </li>
              </ul>

              <h6>Estados:</h6>
              <ul class="cate result">
                <li ng-repeat="state in offerStates"> 
                  <a ng-click="addFilter('state', state._id)"> 
                    {{(state._id == null) ? 'Otras' : state._id}} ({{state.count}})
                  </a>
                </li>
              </ul>

              <h6>Ciudades:</h6>
              <ul class="cate result">
                <li ng-repeat="city in offerCities"> 
                  <a ng-click="addFilter('city', city._id)"> 
                    {{(city._id == null) ? 'Otras' : city._id}} ({{city.count}})
                  </a>
                </li>
              </ul>
              
              <!-- By Type-->
              <h6>Area:</h6>
              <ul class="cate result">
                <li ng-repeat="area in offerAreas"> 
                  <a ng-click="addFilter('area', area._id)"> 
                    {{(area._id == null) ? 'Otras' : area._id}} ({{area.count}})
                  </a>
                </li>
              </ul>
              
              <!-- By Type-->
              <h6>Nivel Educativo:</h6>
              <ul class="cate result">
                <li ng-repeat="level in offerLevels"> 
                  <a ng-click="addFilter('educationLevel', level._id)"> 
                    {{(level._id == null) ? 'Otras' : level._id}} ({{level.count}})
                  </a>
                </li>
              </ul>
              
              <!-- By Type-->
              <h6>Tipo de Contrato:</h6>
              <ul class="cate result">
                <li ng-repeat="contract in offerContratcs"> 
                  <a ng-click="addFilter('typeContract', contract._id)"> 
                    {{(contract._id == null) ? 'Otras' : contract._id}} ({{contract.count}})
                  </a>
                </li>
              </ul>
              
              <!-- By Type-->
              <h6>Tipo de Moneda:</h6>
              <ul class="cate result">
                <li ng-repeat="cur in offerCurrencies"> 
                  <a ng-click="addFilter('salaryCurrency', cur._id)"> 
                    {{(cur._id == null) ? 'Otras' : cur._id}} ({{cur.count}})
                  </a>
                </li>
              </ul>
              
              <!-- By Type-->
              <h6>Tipo de Horario:</h6>
              <ul class="cate result">
                <li ng-repeat="sch in offerSchedules"> 
                  <a ng-click="addFilter('typeSchedule', sch._id)"> 
                    {{(sch._id == null) ? 'Otras' : sch._id}} ({{sch.count}})
                  </a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        
        <!-- Job  Content -->
        <div class="col-xs-12 col-sm-8 col-md-8" ng-cloak>
          
          <!-- About Admin -->
          <h4 class="font-normal margin-top-10 margin-bottom-20">Empleos</h4>
          <div class="row"> 
            
            <!-- Grid Layout -->
            <div class="col-md-6">
              
              <div class="short-by">
                <label>
                  <select class="form-control" ng-model="OfferOrder">
                    <option value="">- Ordenar Por -</option>
                    <option value="created_at">Fecha de Publicación</option>
                    <option value="salary">Salario</option>
                  </select>
                </label>
              </div>
            </div>
            
            <!-- Pagination -->
            <div class="col-md-6" ng-show="ofertas.length > itemsPerPage">
              <div class="pagination-div">
                <ul class="pagination">
                  <li ng-class="DisablePrevPage()">
                    <a href ng-click="prevPage()">«</a>
                  </li>
                  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href="#">{{n+1}}</a>
                  </li>
                  <li ng-class="DisableNextPage()">
                    <a href ng-click="nextPage()"> »</a>
                     
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Job Content -->
          <div id="accordion"> 
            
            <!-- Job Section -->
            <div ng-class="{'urgent': offer.type == 'urgent', 'important': offer.type == 'important'}" class="job-content job-post-page margin-top-20" ng-repeat="offer in ofertas | filter: offerFilter  | filter: offerCustomFilter | orderBy: OfferOrder | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage" ng-click="goToUrl(offer.title, offer._id)" ng-if="offer.company.status == 'verified'">
              <div ng-if="offer.type == 'urgent' || offer.type == 'important'" ng-class="{'cinta-urgent': offer.type == 'urgent', 'cinta-important': offer.type == 'important'}"><span>{{ offer.type == 'urgent' ? 'Urgente': 'Destacada' }}</span></div>
              <div class="panel panel-default"> 
                <!-- Save -->
                <div class="star-save"> </div>
                <!-- PANEL HEADING -->
                <div class="panel-heading"> 
                    <div class="job-tittle">
                      <div class="media-left">
                        <div class="date"> {{offer.created_at.date | amDateFormat:"DD"}} <span>{{offer.created_at.date | amDateFormat:"MMM"}}</span> </div>
                      </div>
                      <div class="media-body">
                        <h5>{{offer.title}}</h5>
                        <span>{{offer.company.name}} </span> 
                      </div>
                      <div class="media-right">
                        <div class="info hidden-xs">  <i class="fa fa-map-marker"></i> {{offer.city}} {{offer.state}} {{offer.country}} 
                            <span ng-show="offer.showSalary">{{offer.salary | currency : '' : 2}} {{offer.salaryCurrency}}</span> 
                            <span ng-show="!offer.showSalary">A Convenir</span> 
                        </div>
                      </div>
                    </div>
                  <p> {{offer.description | limitTo: 100}}</p>
                  <p><i class="fa fa-sitemap"></i> <b>{{offer.area}}</b></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

</div>