  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Empleos</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Empleos</a></li>
          <li class="acive">Detalle de Oferta</a></li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Job -->
    <section class="job padding-top-70 padding-bottom-70" data-ng-controller="jobsDetailController" data-ng-init="cargaInicial()">
      <div class="container"> 
        
        <!-- Side Bar -->
        <div class="col-md-4" ng-cloak>
          <div class="job-sider-bar"> 
            
            <!-- Job Details -->
            <h5 class="side-tittle margin-top-30">Detalle de Oferta</h5>
            <ul class="job-info">
              <li>
                <p><strong> <i class="fa fa-map-marker"></i> Ubicación:</strong> {{oferta.city}} {{oferta.state}} {{oferta.country}} </p>
              </li>
              <li>
                <p><strong> <i class="fa fa-building"></i> Sector:</strong> {{oferta.company.sector}} </p>
              </li>
              <li>
                <p><strong> <i class="fa fa-sitemap"></i> Area:</strong> {{oferta.area}} </p>
              </li>
              <li>
                <p><strong><i class="fa fa-file-text-o"></i> Tipo de Contrato:</strong> {{oferta.typeContract}} </p>
              </li>
              <li>
                <p><strong> <i class="fa fa-clock-o"></i> Tipo de Jornada:</strong> {{oferta.typeSchedule}} </p>
              </li>
              <li>
                  <p ng-show="offer.showSalary"> <strong> <i class="fa fa-money"></i> Salario:</strong> {{offer.salary | currency : '' : 2}} {{offer.salaryCurrency}}</p> 
                  <p ng-show="!offer.showSalary"> <strong> <i class="fa fa-money"></i> Salario:</strong> A Convenir</p> 
              </li>
            </ul>
            
            <!-- Preferred Candidates -->
            <h5 class="side-tittle margin-top-30">Requisitos</h5>
            <ul class="job-info">
              <li>
                <p><strong> <i class="fa fa-graduation-cap"></i> Nivel Educativo:</strong> {{oferta.educationLevel}} </p>
              </li>
              <li>
                <p><strong> <i class="fa fa-calendar"></i> Experiencia:</strong> {{(offer.experience) ? offer.experience+' años' : 'Sin Experiencia'}}</p>
              </li>
            </ul>
          </div>
        </div>
        
        <!-- Job  Content -->
        <div class="col-md-8" ng-cloak>
          <div class="job-content"> 
            
            <!-- Job Tittle -->
            <div class="job-tittle">
              <div class="media-left">
                <div class="date"> {{oferta.created_at.date | amDateFormat:"DD"}} <span>{{oferta.created_at.date | amDateFormat:"MMM"}}</span> </div>
              </div>
              <div class="media-body">
                <h5>{{oferta.title}}</h5>
                <span>{{oferta.company.name}}</span> 
              </div>
              <div class="media-right">
                <div class="info hidden-xs">  <i class="fa fa-map-marker"></i> {{oferta.city}} {{oferta.state}} {{oferta.country}} 
                    <span ng-show="oferta.showSalary">{{oferta.salary | currency : '' : 2}} {{oferta.salaryCurrency}}</span> 
                    <span ng-show="!oferta.showSalary">A Convenir</span> 
                </div>
              </div>
              <p>
                {{oferta.description}}
              </p>
            </div>

            <div class="job-skills">
              
              <h5 class="margin-top-20 visible-xs">Ubicación</h5>
                <p class="visible-xs">
                  {{oferta.city}} {{oferta.state}} {{oferta.country}} 
                </p>

              <h5 class="margin-top-20 visible-xs">Salario</h5>
              <div class="visible-xs">
                <span ng-show="oferta.showSalary">{{oferta.salary | currency : '' : 2}} {{oferta.salaryCurrency}}</span> 
                <span ng-show="!oferta.showSalary">A Convenir</span> 
              </div>

              <h5 class="margin-top-20">Carreras Preferidas</h5>
              <ul class="tags dall margin-bottom-5">

                <li><a ng-repeat="carrer in oferta.carrers">{{carrer.description}}  </a></li>                
                
              </ul>

              <h5 class="margin-top-5">Habilidades</h5>
              <ul class="tags dall margin-bottom-5">

                <li><a ng-repeat="skill in oferta.skills">{{skill.description}}  </a></li>                
                
              </ul>

              <h5 class="margin-top-5">Idiomas</h5>
              <ul class="tags dall margin-bottom-5">

                <li><a ng-repeat="lang in oferta.languages">{{lang.description}}  </a></li>                
                
              </ul>

              <h5 class="margin-top-5">Softwares</h5>
              <ul class="tags dall margin-bottom-5">

                <li><a ng-repeat="soft in oferta.softwares">{{soft.description}}  </a></li>                
                
              </ul>

              <h5 class="margin-top-50">Requisitos Adicionales</h5>
              <ul class="tags dall margin-bottom-20">

                <li><a href="#." ng-show="oferta.avaiableTravel"> Disponibilidad Para Viajar <i class="fa fa-check"></i> </a></li>
                <li><a href="#." ng-show="oferta.avaiableChangeHome"> Disponibilidad de Cambio de Residencia <i class="fa fa-check"></i> </a></li>
                <li><a href="#." ng-show="oferta.ownCar"> Vehículo Propio <i class="fa fa-check"></i> </a></li>
                <li><a href="#." ng-show="oferta.driveLicense"> Posee Licencia de Conducir <i class="fa fa-check"></i> </a></li>
                <li><a href="#." ng-show="oferta.usVisa"> Visa Americana <i class="fa fa-check"></i> </a></li>
                <li><a href="#." ng-show="oferta.eurVisa"> Visa Comunidad Europea <i class="fa fa-check"></i> </a></li>
                
              </ul>
              
              <!-- Share -->
              <div class="row share-info">                
                <div class="col-md-5">
                  <h6 class="margin-top-5">Compartir:</h6>
                  <ul class="social">
                    <li><a target="_blank" ng-href="{{oferta.shares.facebook}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" ng-href="{{oferta.shares.twitter}}""><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" ng-href="{{oferta.shares.gplus}}"><i class="fa fa-google-plus"></i></a></li>                    
                  </ul>
                </div>
                <div class="col-md-offset-3 col-md-4"> 
                  <a ng-click="viewDetail(oferta, 'offer', 'usuarios/detalle_oferta')" class="btn btn-primary pull-right">Ver más</a> 
                </div>
              </div>
            </div>
          </div>
          
          <!-- About Admin -->
          <h4 class="font-normal margin-top-50 margin-bottom-20">Datos de la Empresa</h4>
          <!-- About Admin -->
          <div class="admin-job">
            <ul class="row">
              <li class="col-md-8">
                <div class="media-left">
                  <div class="admin-img">
                    <img ng-if="oferta.company.logo" ng-src="https://api.zonatrabajo.com/profile/companies/logos/{{oferta.company.logo}}" class="img-responsive img-circle" alt="{{oferta.company.name}}">
                    <img ng-if="!oferta.company.logo" ng-src="usuarios/dist/img/company.png" class="img-responsive img-circle" alt="{{oferta.company.name}}">
                  </div>
                </div>
                <div class="media-body">
                  <h5>{{oferta.company.name}}</h5>
                  <span class="primary-color font-bold">{{oferta.company.slogan}}</span><br>
                  <a ng-href="http://{{oferta.company.website}}"> {{(oferta.company.website) ? 'www.'+oferta.company.website : ''}} </a>
                </div>
              </li>
              
              <!-- Social -->
              <li class="col-md-4 text-right">
                <ul class="social">
                  <li><a target="_blank" ng-href="https://www.facebook.com/{{oferta.company.facebook}}"><i class="fa fa-facebook"></i></a></li>
                  <li><a target="_blank" ng-href="https://twitter.com/{{oferta.company.twitter}}"><i class="fa fa-twitter"></i></a></li>
                  <li><a target="_blank" ng-href="https://www.instagram.com/{{oferta.company.instagram}}"><i class="fa fa-instagram"></i></a></li>
                  <li><a target="_blank" ng-href="https://www.linkedin.com/company/{{oferta.company.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <a ng-click="viewDetail(oferta.company, 'company', 'usuarios/detalle_empresa')" class="btn btn-primary pull-right margin-top-50">Perfil de Empresa</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>