  <!-- SUB BANNER -->
  <section class="sub-bnr bnr-2" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>Empleos</h4>
        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="">Inicio</a></li>
          <li class="active">Empleos</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Job -->
    <section class="job padding-top-70 padding-bottom-70" data-ng-controller="jobsController" data-ng-init="cargaInicial()">
      <div class="container"> 
        
        <!-- Side Bar -->
        <div class="col-md-4">
          <div class="job-sider-bar">
            <h5 ng-show="offerCustomFilter" class="side-tittle">Filtros</h5>

            <label ng-repeat="(key, val) in offerCustomFilter" class="label-filter label-primary">
                {{val}}
                <div class="pull-right">
                  <a class="remove" ng-click="removeFilter(key)"><i class="fa fa-times"></i></a>
                </div>
            </label>


            <h5 class="side-tittle">Buscar</h5>
            <label>
              <input type="text" class="form-control" placeholder="Buscar" ng-model="offerFilter">
            </label>
            
            <!-- Filter Results -->
            <h5 class="side-tittle margin-top-30">Filtrar Resultados</h5>
            
            <h6>Paises:</h6>
            <ul class="cate result">
              <li ng-repeat="country in offerCountry"> 
                <a ng-click="addFilter('country', country._id)"> 
                  {{(country._id == null) ? 'Otras' : country._id}} ({{country.count}})
                </a>
              </li>
            </ul>

            <h6>Estados:</h6>
            <ul class="cate result">
              <li ng-repeat="state in offerStates"> 
                <a ng-click="addFilter('state', state._id)"> 
                  {{(state._id == null) ? 'Otras' : state._id}} ({{state.count}})
                </a>
              </li>
            </ul>

            <h6>Ciudades:</h6>
            <ul class="cate result">
              <li ng-repeat="city in offerCities"> 
                <a ng-click="addFilter('city', city._id)"> 
                  {{(city._id == null) ? 'Otras' : city._id}} ({{city.count}})
                </a>
              </li>
            </ul>
            
            <!-- By Type-->
            <h6>Area:</h6>
            <ul class="cate result">
              <li ng-repeat="area in offerAreas"> 
                <a ng-click="addFilter('area', area._id)"> 
                  {{(area._id == null) ? 'Otras' : area._id}} ({{area.count}})
                </a>
              </li>
            </ul>
            
            <!-- By Type-->
            <h6>Nivel Educativo:</h6>
            <ul class="cate result">
              <li ng-repeat="level in offerLevels"> 
                <a ng-click="addFilter('educationLevel', level._id)"> 
                  {{(level._id == null) ? 'Otras' : level._id}} ({{level.count}})
                </a>
              </li>
            </ul>
            
            <!-- By Type-->
            <h6>Tipo de Contrato:</h6>
            <ul class="cate result">
              <li ng-repeat="contract in offerContratcs"> 
                <a ng-click="addFilter('typeContract', contract._id)"> 
                  {{(contract._id == null) ? 'Otras' : contract._id}} ({{contract.count}})
                </a>
              </li>
            </ul>
            
            <!-- By Type-->
            <h6>Tipo de Moneda:</h6>
            <ul class="cate result">
              <li ng-repeat="cur in offerCurrencies"> 
                <a ng-click="addFilter('salaryCurrency', cur._id)"> 
                  {{(cur._id == null) ? 'Otras' : cur._id}} ({{cur.count}})
                </a>
              </li>
            </ul>
            
            <!-- By Type-->
            <h6>Tipo de Horario:</h6>
            <ul class="cate result">
              <li ng-repeat="sch in offerSchedules"> 
                <a ng-click="addFilter('typeSchedule', sch._id)"> 
                  {{(sch._id == null) ? 'Otras' : sch._id}} ({{sch.count}})
                </a>
              </li>
            </ul>
            
            <!-- Date Posted -->
            <!-- <h6>Experiencia:</h6>
            <h6>Date Posted:</h6>
            <div class="cost-price-content">
              <div id="date-range" class="price-range"></div>
              <span id="date-min" class="price-min">20</span> <span id="date-max" class="price-max">80</span> </div>
            <h6 class="margin-top-50">Salary Range:</h6>
            <div class="cost-price-content">
              <div id="price-range" class="price-range"></div>
              <span id="price-min" class="price-min">20</span> <span id="price-max" class="price-max">80</span> </div>
            <a href="#." class="btn btn-1 btn-sm margin-top-50">filter results <i class="fa fa-caret-right"></i></a>  -->
            
            </div>
        </div>
        
        <!-- Job  Content -->
        <div class="col-md-8" ng-cloak>
          
          <!-- About Admin -->
          <h4 class="font-normal margin-top-10 margin-bottom-20">Empleos</h4>
          <div class="row"> 
            
            <!-- Grid Layout -->
            <div class="col-md-6">
              
              <div class="short-by">
                <label>
                  <select class="form-control" ng-model="OfferOrder">
                    <option value="">- Ordenar Por -</option>
                    <option value="created_at">Fecha de Publicación</option>
                    <option value="salary">Salario</option>
                  </select>
                </label>
              </div>
            </div>
            
            <!-- Pagination -->
            <div class="col-md-6" ng-show="ofertas.length > itemsPerPage">
              <div class="pagination-div">
                <ul class="pagination">
                  <li ng-class="DisablePrevPage()">
                    <a href ng-click="prevPage()">«</a>
                  </li>
                  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href="#">{{n+1}}</a>
                  </li>
                  <li ng-class="DisableNextPage()">
                    <a href ng-click="nextPage()"> »</a>
                     
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Job Content -->
          <div id="accordion"> 
            
            <!-- Job Section -->
            <div class="job-content job-post-page margin-top-20" ng-repeat="offer in ofertas | filter: offerFilter  | filter: offerCustomFilter | orderBy: OfferOrder | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage" ng-click="goToUrl(offer.title, offer._id)" ng-if="offer.company.status == 'verified'">
              <div class="panel panel-default"> 
                <!-- Save -->
                <div class="star-save"> </div>
                <!-- PANEL HEADING -->
                <div class="panel-heading"> 
                    <div class="job-tittle">
                      <div class="media-left">
                        <div class="date"> {{offer.created_at.date | amDateFormat:"DD"}} <span>{{offer.created_at.date | amDateFormat:"MMM"}}</span> </div>
                      </div>
                      <div class="media-body">
                        <h5>{{offer.title}}</h5>
                        <span>{{offer.company.name}} </span> 
                      </div>
                      <div class="media-right">
                        <div class="info">  <i class="fa fa-map-marker"></i> {{offer.city}} {{offer.state}} {{offer.country}} 
                            <span ng-show="offer.showSalary">{{offer.salary | currency : '' : 2}} {{offer.salaryCurrency}}</span> 
                            <span ng-show="!offer.showSalary">A Convenir</span> 
                        </div>
                      </div>
                    </div>
                  <p> {{offer.description | limitTo: 100}}</p>
                  <p><i class="fa fa-sitemap"></i> <b>{{offer.area}}</b></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>