  <!-- SUB BANNER 
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h1>Las grandes empresas confian en nosotros</h1>
        <!-- Breadcrumbs 
        <ol class="breadcrumb">
          <li><a href="#">Inicio</a></li>
          <li class="active">Planes</li>
        </ol>
      </div>
    </div>
  </section>-->

<!-- HOME MAIN SLIDER -->
<section class="home-slide">
  <ul class="slides">
    
    <!-- SLIDER 1 -->
    <li class="slide-img-1" data-stellar-background-ratio="0.6">
      <div class="position-center-center">
        <h1>Encuentra las mejores </h1>
        <h5>Ofertas de Empleo</h5>
      </div>
    </li>
  </ul>
</section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Plan -->
    <section class="padding-top-70 padding-bottom-70">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Selecciona el plan con el que deseas Ingresar</h4>
        </div>
        
        <!-- Plan -->
        <div class="plan">
          <ul class="row">
            
            <!-- starter -->
            <li class="col-md-3 col-md-offset-3">
              <article>
                <div class="price">
                  <h6>Gratis</h6>
                  <span class="currency">$</span>0<span class="period">/anual</span></div>
                <p class="light"><span>250MB</span> Memory</p>
                <p><span>10</span> Projects</p>
                <p class="light"><span>10GB </span>amount of space</p>
                <a href="#." class="btn btn-1 margin-top-30">sign up <i class="fa fa-caret-right"></i></a> </article>
            </li>
            
            <!-- Basic -->
            <li class="col-md-3">
              <article>
                <div class="price">
                  <h6>Pago</h6>
                  <span class="currency">$</span>29<span class="period">/anual</span></div>
                <p class="light"><span>250MB</span> Memory</p>
                <p><span>10</span> Projects</p>
                <p class="light"><span>10GB </span>amount of space</p>
                <a href="#." class="btn btn-1 margin-top-30">sign up <i class="fa fa-caret-right"></i></a> </article>
            </li>
            
            <!-- pro -->
            <!-- <li class="col-md-3">
              <article>
                <div class="price">
                  <h6>pro</h6>
                  <span class="currency">$</span>49<span class="period">/monthy</span></div>
                <p class="light"><span>250MB</span> Memory</p>
                <p><span>10</span> Projects</p>
                <p class="light"><span>10GB </span>amount of space</p>
                <a href="#." class="btn btn-1 margin-top-30">sign up <i class="fa fa-caret-right"></i></a> </article>
            </li> -->
            
            <!-- ultra -->
            <!-- <li class="col-md-3">
              <article>
                <div class="price">
                  <h6>ultra</h6>
                  <span class="currency">$</span>99<span class="period">/monthy</span></div>
                <p class="light"><span>250MB</span> Memory</p>
                <p><span>10</span> Projects</p>
                <p class="light"><span>10GB </span>amount of space</p>
                <a href="#." class="btn btn-1 margin-top-30">sign up <i class="fa fa-caret-right"></i></a> </article>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
    <!-- Counter -->
    <section class="clients padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center">
          <h4>Our Amazing Clients</h4>
          <span>We trust in longlasting partnerships with the most important brands on the market</span> </div>
        
        <!-- Clients -->
        <div class="single-slide">
          <div class="item">
            <ul class="row col-5">
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-1.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-2.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-3.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-4.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-5.jpg" alt=""></a></li>
            </ul>
          </div>
          <div class="item">
            <ul class="row col-5">
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-4.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-5.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-3.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-1.jpg" alt=""></a></li>
              <li><a href="#."><img class="img-responsive" src="http://demos.webicode.com/html/iod-html/html/images/client-img-2.jpg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>